html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1c1e21;
    line-height: 1.34;
}
.fb-content {
    padding-bottom: 112px;
    padding-top: 72px;
    background: #f0f2f5;
}
.content-wrap {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    width: 100%;
}
.content-wrap .content-left {
    text-align: left;
    padding-right: 32px;
    padding-top: 112px;
}
.content-wrap .content-left img {
    height: 106px;
    margin: -28px;
}
.content-wrap .content-left .desc {
    margin-top: 16px;
    font-size: 28px;
    line-height: 32px;
    max-width: 500px;
}
.content-wrap .content-right {
    width: 396px;
    text-align: center;
    padding-top: 40px;
}
.content-wrap .content-right .login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 16px 16px 24px;
}
.content-wrap .content-right .login-form input {
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-radius: 6px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin-bottom: 16px;
    padding:  0 16px;
}
.content-wrap .content-right .login-form button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    width: 100%;
    color:  #fff;
    font-weight: 700;
}
.content-wrap .content-right .login-form .forgot-pass {
    margin-top: 16px;
    border-bottom: 1px solid #dadde1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.content-wrap .content-right .login-form .forgot-pass a {
    cursor: pointer;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.content-wrap .content-right .login-form .register-btn {
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    border: none;
    background-color: rgb(66, 183, 42);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}
.content-wrap .content-right .note-form {
    margin-top: 28px;
    font-size: 14px;
}
.content-wrap .content-right .note-form a {
    font-weight: 600;
    color: inherit;
    cursor: pointer;
}
@media (max-width: 991px) {
    .content-wrap {
        max-width: 400px;
    }
    .content-wrap .content-left {
        padding-right: 0;
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }
    .content-wrap .content-right {
        width: 100%;
    }
}